@font-face {
  font-family: "DistrictThin";
  src:url("css/fonts/DistrictThin.ttf") format(".ttf");
}
* {margin:0; padding:0; box-sizing:border-box; }
body {
  color:#525353;
  font-family:"DistrictThin", sans-serif;
  font-size:16px;
  line-height:1.375;
}
header {
  /*   background-color: #FFED74;
    border: 1px black solid;*/
  padding: 20px;
  text-align: center;
}
#pplogo {
  width: 250px;
}

nav {
 /*	background-color: #E8C66A;
   border: 1px black solid; */
 font-size: 20px;
 text-transform: uppercase;
 letter-spacing: .1em;
}
nav a {
  display:inline-block;
  padding:1em;
}

#products div {
  text-transform: uppercase;
  letter-spacing: .1em;
  width: 50%;
  float: left;
  position:relative;
}
#products img {
  width:100%;
  display: block;
  /*  opacity: 0.8; */
}
#products a {
  color:inherit;
}

/* #one {
border: 0px;
} */


a {text-decoration: none; 
}
a:visited {
color: #525353;
}
a:hover {
color: #f06796;

} 
.bold {font-weight: bold;line-height: 1;} 

.level2 {
  font-size: 2em;

}
.level3 {
  font-size: 1.3em;

}

h3 {
  font-size: 2em;
  letter-spacing: .1em;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 0%;
  transform:translateY(-50%);
  padding: 15px;
  background: rgba(255, 255, 255, 0.7);
}

h5 {
	font-size: 1em
}


#animation {width: 13px;
}

#two_column {
background-color: #e6f0ef;
/* border: 1px black solid; */
padding: 0px;
width: 100%;



}

#left {
 background-color: #d8eae9;
 /*      border: 1px black solid; */ 
      padding: 20px;
    margin: 0px;
    float: left;
    width: 30%;
    font-size: 3em;
}

#right {
   /* background-color: pink;
    border: 1px black solid; */
    padding: 20px;
    float: right;   
    width: 70%;

    text-transform: lowercase;
    vertical-align: text-top;
}


}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

 footer {
 /* background-color: #FF957E;
 border: 1px black solid; */
 padding: 20px;
font-family: districtthin, sans-serif;
font-size: .8em;
letter-spacing: .1em;
text-align: center;
color: #525353;
padding: 1em 2em 1em 2em; 
margin: 0;  
}
